<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497763609499-h4ig43n776ttvh52bd3ahgbpsqom52ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497763609499-h4ig43n776ttvh52bd3ahgbpsqom52ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPKI-dSOFcCZ__3H4tz-KKlvR6VU0KcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>497763609499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unibenAttendanceStud</string>
	<key>PROJECT_ID</key>
	<string>attentance-bfd91</string>
	<key>STORAGE_BUCKET</key>
	<string>attentance-bfd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497763609499:ios:86e477860c1cbfc4a94f3e</string>
</dict>
</plist>